html {
    margin-left: 1px;
}

fieldset {
    width: 80%;
    background-color: gainsboro;
}

fieldset.info {
    width: 100%;
}

td.risultati {
    padding: 50px
}

div {
    width: 50%;
    margin-left: 5%;
}
